.accomCardSection {
  max-width: 75rem;
  width: 75rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.details p {
  margin-top: -1rem;
  color: rgb(112, 112, 112);
}

.stars {
  padding-top: 0.5rem;
}
